#footer{
    display: flex;
    background-color: #ffffffc4;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

ul li {
    list-style-type: none;
    font-size: medium;
}
li:hover{
    color: blanchedalmond;
}
img{
   width: 50px;
  
}