#my-Tour{
    /* display: flex;
    flex-direction: column;
    */ 
    /* flex-wrap: wrap; */
        display: grid;
        grid-gap: 50px;
    grid-template-columns: repeat(2, 2fr);
    grid-auto-rows: minmax(100px, auto);
   align-items: center;
   margin: 100px;
   justify-content: space-between;

}

#Tours{
   
    height: 500px;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.39);
    -webkit-backdrop-filter: blur(20px);
     backdrop-filter: blur(20px);
     margin: auto;
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(25, 173, 231, 0.26);
            box-shadow: 20px 20px 22px rgba(255, 255, 255, 0.295);
    font-family: 'Poppins',sans-serif;
   
}
#Tours img {
    width: 100%;
    border-radius: 5px;

}
